.login-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .left-container {
    flex: 1;
    padding: 50px;
    background-color: #F4F4F4;
    text-align: center;
  }
  
  .right-container {
    flex: 1;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
  }
  
  .signup-box {
    /* Apply your signup/signin box styling here */
  }
  
  /* Add responsive styles as needed */
  @media (max-width: 768px) {
    .login-page {
      flex-direction: column;
    }
  
    .left-container,
    .right-container {
      padding: 20px;
    }
    .promo-image {
      margin-top: 20px;
      width: 200px;
    }
    
  }
  